-- P1-06: Daily Rewards Supabase-backed Table
-- Date: 2026-05-20
-- Purpose: Server-authoritative daily reward claims to prevent
--          duplication via local storage manipulation.

CREATE TABLE IF NOT EXISTS public.daily_reward_claims (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  resident_id TEXT NOT NULL,
  claim_date DATE NOT NULL DEFAULT CURRENT_DATE,
  reward_type TEXT NOT NULL DEFAULT 'xp',
  reward_value INTEGER NOT NULL DEFAULT 0,
  claimed_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  platform TEXT,
  UNIQUE(resident_id, claim_date)
);

-- RLS: residents can only see and insert their own claims
ALTER TABLE public.daily_reward_claims ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS daily_reward_claims_owner_read ON public.daily_reward_claims;
CREATE POLICY daily_reward_claims_owner_read ON public.daily_reward_claims
  FOR SELECT TO authenticated
  USING (resident_id = auth.uid()::text);

DROP POLICY IF EXISTS daily_reward_claims_owner_insert ON public.daily_reward_claims;
CREATE POLICY daily_reward_claims_owner_insert ON public.daily_reward_claims
  FOR INSERT TO authenticated
  WITH CHECK (resident_id = auth.uid()::text);

-- Index for fast date lookups
CREATE INDEX IF NOT EXISTS idx_daily_reward_claims_resident_date
  ON public.daily_reward_claims(resident_id, claim_date DESC);

-- P1-06: Events Supabase-backed Table
-- Purpose: Server-authoritative event storage for cross-device persistence.

CREATE TABLE IF NOT EXISTS public.events (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  world_id TEXT NOT NULL,
  title TEXT NOT NULL,
  description TEXT,
  organizer_id TEXT NOT NULL,
  organizer_name TEXT NOT NULL,
  start_at TIMESTAMPTZ NOT NULL,
  end_at TIMESTAMPTZ,
  location TEXT,
  max_attendees INTEGER,
  rsvp_count INTEGER DEFAULT 0,
  event_type TEXT DEFAULT 'general',
  is_recurring BOOLEAN DEFAULT false,
  recurrence_pattern TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

ALTER TABLE public.events ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS events_world_members_read ON public.events;
CREATE POLICY events_world_members_read ON public.events
  FOR SELECT TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.world_members wm
      WHERE wm.world_id = events.world_id
      AND wm.resident_id = auth.uid()::text
    )
  );

DROP POLICY IF EXISTS events_organizer_insert ON public.events;
CREATE POLICY events_organizer_insert ON public.events
  FOR INSERT TO authenticated
  WITH CHECK (organizer_id = auth.uid()::text);

DROP POLICY IF EXISTS events_organizer_update ON public.events;
CREATE POLICY events_organizer_update ON public.events
  FOR UPDATE TO authenticated
  USING (organizer_id = auth.uid()::text);

DROP POLICY IF EXISTS events_organizer_delete ON public.events;
CREATE POLICY events_organizer_delete ON public.events
  FOR DELETE TO authenticated
  USING (organizer_id = auth.uid()::text);

CREATE INDEX IF NOT EXISTS idx_events_world_start ON public.events(world_id, start_at DESC);

-- RSVP tracking
CREATE TABLE IF NOT EXISTS public.event_rsvps (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  event_id UUID NOT NULL REFERENCES public.events(id) ON DELETE CASCADE,
  resident_id TEXT NOT NULL,
  resident_name TEXT NOT NULL,
  rsvp_status TEXT NOT NULL DEFAULT 'going',
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE(event_id, resident_id)
);

ALTER TABLE public.event_rsvps ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS event_rsvps_event_members_read ON public.event_rsvps;
CREATE POLICY event_rsvps_event_members_read ON public.event_rsvps
  FOR SELECT TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.events e
      JOIN public.world_members wm ON wm.world_id = e.world_id
      WHERE e.id = event_rsvps.event_id
      AND wm.resident_id = auth.uid()::text
    )
  );

DROP POLICY IF EXISTS event_rsvps_owner_manage ON public.event_rsvps;
CREATE POLICY event_rsvps_owner_manage ON public.event_rsvps
  FOR ALL TO authenticated
  USING (resident_id = auth.uid()::text)
  WITH CHECK (resident_id = auth.uid()::text);

CREATE INDEX IF NOT EXISTS idx_event_rsvps_event ON public.event_rsvps(event_id);

-- Auto-update rsvp_count trigger
CREATE OR REPLACE FUNCTION update_event_rsvp_count()
RETURNS TRIGGER
LANGUAGE plpgsql
SET search_path = public, pg_temp
AS $$
BEGIN
  IF TG_OP = 'INSERT' THEN
    UPDATE public.events SET rsvp_count = rsvp_count + 1 WHERE id = NEW.event_id;
  ELSIF TG_OP = 'DELETE' THEN
    UPDATE public.events SET rsvp_count = GREATEST(rsvp_count - 1, 0) WHERE id = OLD.event_id;
  END IF;
  RETURN NULL;
END;
$$;

DROP TRIGGER IF EXISTS trg_event_rsvp_count ON public.event_rsvps;
CREATE TRIGGER trg_event_rsvp_count
  AFTER INSERT OR DELETE ON public.event_rsvps
  FOR EACH ROW EXECUTE FUNCTION update_event_rsvp_count();
