-- P0-07: Atomic World Creation RPC
-- Date: 2026-05-20
-- Purpose: Create a single RPC that atomically creates a world,
--          creator membership, and default channels to prevent
--          partial success states.

CREATE OR REPLACE FUNCTION create_world_full(
  p_name TEXT,
  p_description TEXT,
  p_sovereign_id TEXT,
  p_sovereign_name TEXT,
  p_icon TEXT DEFAULT 'earth',
  p_dominion_type TEXT DEFAULT NULL,
  p_world_currency_name TEXT DEFAULT NULL,
  p_tags TEXT[] DEFAULT NULL
) RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pg_temp
AS $$
DECLARE
  v_world_id TEXT;
  v_slug TEXT;
  v_channel_id TEXT;
  v_world JSONB;
  v_channels JSONB := '[]'::JSONB;
  v_channel_record RECORD;
BEGIN
  -- Generate world ID and slug
  v_world_id := gen_random_uuid()::TEXT;
  v_slug := LOWER(REGEXP_REPLACE(TRIM(p_name), '[^a-z0-9]+', '-', 'gi'));
  v_slug := REGEXP_REPLACE(v_slug, '^-+|-+$', '', 'g');
  IF v_slug = '' THEN
    v_slug := 'world-' || SUBSTRING(v_world_id FROM 1 FOR 8);
  END IF;

  -- 1. Insert world
  INSERT INTO public.worlds (
    id, slug, name, type, description, sovereign_id, sovereign_name,
    prestige, icon, is_default, sort_order, created_at,
    dominion_type, world_currency_name, tags
  ) VALUES (
    v_world_id, v_slug, p_name, 'dominion', p_description,
    p_sovereign_id, p_sovereign_name, 1, p_icon, false,
    (EXTRACT(EPOCH FROM NOW()) * 1000)::BIGINT, NOW(),
    p_dominion_type, p_world_currency_name, p_tags
  );

  -- 2. Insert creator membership
  INSERT INTO public.world_members (
    world_id, resident_id, resident_name, rep, joined_at
  ) VALUES (
    v_world_id, p_sovereign_id, p_sovereign_name, 0, NOW()
  );

  -- 3. Increment world member count
  UPDATE public.worlds SET member_count = 1 WHERE id = v_world_id;

  -- 4. Create default channels
  FOR v_channel_record IN
    SELECT unnest(ARRAY[
      ROW('info', 'Start here for the world purpose, culture, and key links.', 'announcement', 0)::record,
      ROW('rules', 'The standards, boundaries, and moderation expectations.', 'announcement', 1)::record,
      ROW('roles', 'Rank, role, and permission guidance for residents.', 'announcement', 2)::record,
      ROW('general', 'General discussion for all residents.', 'text', 3)::record
    ]) AS ch(name, description, channel_type, position)
  LOOP
    v_channel_id := gen_random_uuid()::TEXT;
    INSERT INTO public.channels (
      id, world_id, name, description, channel_type, position,
      is_default, created_at
    ) VALUES (
      v_channel_id, v_world_id, v_channel_record.name,
      v_channel_record.description, v_channel_record.channel_type::public.channel_type,
      v_channel_record.position, true, NOW()
    );
    v_channels := v_channels || jsonb_build_object(
      'id', v_channel_id,
      'name', v_channel_record.name,
      'description', v_channel_record.description,
      'channel_type', v_channel_record.channel_type,
      'position', v_channel_record.position
    );
  END LOOP;

  -- 5. Return full result
  v_world := jsonb_build_object(
    'id', v_world_id,
    'slug', v_slug,
    'name', p_name,
    'description', p_description,
    'sovereign_id', p_sovereign_id,
    'sovereign_name', p_sovereign_name,
    'icon', p_icon,
    'channels', v_channels
  );

  RETURN v_world;
END;
$$;

-- Grant only to authenticated users
GRANT EXECUTE ON FUNCTION create_world_full(TEXT, TEXT, TEXT, TEXT, TEXT, TEXT, TEXT, TEXT[]) TO authenticated;
REVOKE EXECUTE ON FUNCTION create_world_full(TEXT, TEXT, TEXT, TEXT, TEXT, TEXT, TEXT, TEXT[]) FROM anon, public;
